{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"
          media="screen,projection">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>Count</title>
</head>
<body>
    <a href="{% url 'home' %}">Start again</a>
    <h1>Your sentence has {{ count }} words</h1>

    <h4>Your text:</h4>
     <div class="container">
        {{ fulltext }}
     </div>

    <br />
    <h4>Word count:</h4>
        {% for word, counttotal in sortedwords %}

        {{word}} - {{ counttotal }}
        <br />

        {% endfor %}
    <br />



</body>
</html>